/* * {
  margin: 20;
  padding: 20;
} */


.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 80%;
  max-height: 100vh;
  margin: auto;
}

body {
  padding-left: 200px;
  padding-right: 200px;
  text-align: justify;
}


 /* The sidebar menu */
.sidenav {
  text-align: left;
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-family: 'Roboto', sans-serif;
}

/* .highlight {
  background-color : red ;
 }​ */

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 10px;}
  body {
    padding-left: 200px;
    padding-right: 10px;
    text-align: justify;
  }
}

